<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Page</title>
</head>

<body>
    <h1>Welcome to my page! {{name}} </h1> <!-- dynamic variable -->
    <p>This is a simple HTML file.</p>

    <h2> 第一個表單 </h2>
    <form action="/calculate" method="POST"> <!-- POST method -->
        數字 <input type="text" name="max">
        <button> 計算 </button>
    </form>

    <hr/>

    <h2> 第二個表單 </h2>
    <form action="/show">
        姓名 <input type="text" name="name">
        <button> 點擊送出表單 </button>
    </form>
    <br/>
    <a href = "/page"> About </a>
    <br/>
    <img src = "/static/foot.jpg" alt = "1.jpg">
</body>

</html>